doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='css/style.css')
    script(type='text/javascript' src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/pbkdf2.js")
    script(type='text/javascript' src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js")
    script(type='text/javascript' src="http://code.jquery.com/jquery-1.11.1.js")
    script(type='text/javascript' src='js/script.js')
  body
  .banner(align="right")
    a(href="/register")
      span Registrarse  
  .container-login
    form(method="POST" action="/login" id="form")
      p Nombre:
      input(type="text" id="user" name="user")
      p Pass:
      input(type="password" id="pass" name="pass")
      br
      button(type="button" onclick="login()") Enviar
  .msg-error    
    span #{error}