// controllers/user/views/index.js
h1 INICIA SESION

form(method="POST", action="/user")
  p Nombre:
  input(type="text" name="user")
  p Pass:
  input(type="password" name="pass")
  br
  button(type="submit") Enviar